export KAFKA_BOOTSTRAP_SERVER=mykafka.example.cloud:9092
export KAFKA_WRITER_TOPIC=probes
export KAFKA_READER_TOPIC=probes
export KAFKA_GROUP_ID=consumer_group

export KAFKA_SSL_CAFILE=./.credentials/ca.pem
export KAFKA_SSL_KEYFILE=./.credentials/service.key
export KAFKA_SSL_CERTFILE=./.credentials/service.cert

export DATABASE_URL=postgres://user:passwd@mypostgres.example.cloud:5432/uptimer_db?sslmode=require

export PROBE_URLS='[ "https://github.com", "https://janw.xyz", ]'
export PROBE_REGEXES='[ "(?im)my name is jan", ]'
export PROBE_INTERVAL=10
